.background {
    background-image: url('../../assets/main-background.jpg');
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
}

.sponsors img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: grayscale(100%) opacity(0.35) contrast(0.1);

}